body {
  overflow-x:hidden;
}
i{
  text-align: center;
  margin-bottom: 5px;
}
p{
  font-size: 24px;
  font-family: 'print_boldregular';
}
h1{
  font-size: 80px;
  font-family: 'print_clearlyregular';
}
h2{
  font-size: 60px;
  font-family: 'print_clearlyregular';
}
h3{
  font-size: 48px;
  font-family: 'print_clearlyregular';
}
h4{
  font-size: 36px;
  font-family: 'print_clearlyregular';
}
h5{
  font-size: 24px;
  font-family: 'print_clearlyregular';
}
section {
  padding: 25px 0 35px;
  background-image: url(../images/arches.png);
  background-color: #f0fff8;
  text-align:center;
  font-size:large;
}
.parallax-container {
  height: 500px;
  width: 100%;
}
#logo {
  height: 150px;
  width: 225px;
  margin: auto;
}
.centerHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#rsvp {
  min-height: 300px;
}

#thedetails {

}
#ourstory {
  text-align: center;
  text-justify: inter-word;
}

#registry {
  min-height: 350px;
}

#map {
  height: 350px;
  padding: 40px !important; 
}

#weddingDetails{
  text-align: center;
  vertical-align: middle;
}
#addGuestButton {
  margin-top: 10px;
  margin-right: 40px;
}
#rsvpButton {
  margin-top: 10px;
  margin-left: 20px;
}
#emailEnteredButton {
  margin-bottom: 10px;
}

#registryImage {
  margin: auto;
}

#checkmark{
  color:#13dd54; 
  display:none;
}

footer {
  background: #000;
  color: #ddd;
  padding: 30px 0 30px;
  text-align: center;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  color: #eee;
  text-decoration: underline;
}

@media screen and (min-width: 1100px) {
    .centerHelper {vertical-align:top;}
}